@import "../../theme-sncf.scss";

.edit-profile {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__bio {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    textarea {
      border-radius: 5px;
      border: 1px solid #a0a0a0;
      resize: none;
      height: 5rem;
    }
  }

  .button {
    width: 100%;
    justify-self: flex-end;
  }
}

@media (min-width: 768px) {
  .edit-profile {
    &__fields {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: end;
    }

    .field {
      width: 45%;
    }

    .button {
      width: 30%;
    }
  }
}

@media (min-width: 1440px) {
  .edit-profile {
    &__form {
      align-items: center;
    }
    &__bio {
      width: 100%;
      height: 10rem;
      textarea {
        height: 100%;
      }
    }
  }
}
