.learning-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 2em;
  height: 100%;

  &__icon-home {
    position: absolute;
    height: 3em;
    width: 3em;
    top: 1em;
    right: 1em;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
