.layout {
  height: 100%;
  width: 100%;
  padding: 3.5em 1em 1em 1em;

  &__logo {
    width: 4em;
    height: 2.5em;
    position: absolute;
    left: 1em;
    top: 1em;
  }
}

@media (min-width: 1439px) {
  .layout {
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 1em;
    &__logo {
      left: 5em;
    }
  }
}
