.learning-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  h2 {
    text-transform: uppercase;
    font-size: 20px;
    align-self: center;
  }
}
@media screen and (orientation: landscape) and (min-width: 813px) and (max-width: 1200px) {
  .learning-card {
    width: 50%;
  }
}
@media screen and (orientation: landscape) and (min-width: 813px) and (max-width: 1200px) {
  .learning-card {
    h2 {
      align-self: center;
    }
  }
}
