@import "../../theme-sncf.scss";

.round-card {
  width: 8rem;
  height: 8rem;

  img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }

  p {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .round-card {
    width: 10rem;
    height: 10rem;

    img {
      height: 70%;
      width: 70%;
    }
  }
}

@media (min-width: 1440px) {
  .round-card {
    width: 15rem;
    height: 15rem;

    img {
      height: 60%;
      width: 60%;
    }
  }
}
