@import "../../theme-sncf.scss";

.round-card {
  width: 4em;
  height: 4em;

  img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }

  p {
    font-size: 0.75em;
  }
}

@media (min-width: 1440px) {
  .round-card {
    width: 6em;
    height: 6em;
  }
}
