@import "../../theme-sncf.scss";

.round-card {
  width: 7rem;
  height: 7rem;

  img {
    height: 80%;
    width: 80%;
    border-radius: 50%;
  }

  p {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .round-card {
    width: 11rem;
    height: 11rem;
  }
}
