@import "../../theme-sncf.scss";
.menu-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__iconlink {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 1024px) {
  .menu-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__iconlink {
      height: 100%;
      width: 100%;
      svg {
        width: auto;
        color: white;
      }

      h3 {
        width: auto;
        font-weight: bold;
        font-size: 3rem;
        color: white;
      }

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__icon {
      height: 20%;
      width: 80%;
      padding: 0 1.5rem;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

      &--formation {
        background: $prune;
      }

      &--profil {
        background: $framboise;
      }
    }
  }
}

@media (min-width: 1440px) {
  .menu-page {
    &__icon {
      width: 65%;
    }
  }
}
