@import "../../theme-sncf.scss";

.profile-card {
  &__avatar-id-container {
    display: flex;
    justify-content: space-around;
  }
  &__background-img {
    width: 100%;
    margin-bottom: 2%;
    padding-bottom: 48%;
    background: url(./src/assets/images/backgroundProfileMobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__avatar-img {
    background-image: url(./src/assets/images/profile-card__avatar-img.jpg);
    background-repeat: no-repeat;
    background-position-x: -1em;
    width: 7em;
    height: 5em;
    clip-path: ellipse(35% 48%);
    position: relative;
    top: -2em;
    z-index: 1;
  }
  &__name-job {
    height: 100%;
    width: 45%;
  }
  &__name {
    font-weight: bold;
  }
  &__bio-container {
    display: flex;
    border: 1px solid $carbone;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    bottom: 2.5em;
  }
  &__bio {
    margin-top: 1em;
  }
}
