.profile-card {
  &__avatar-id-container {
    display: flex;
    justify-content: space-around;
  }
  &__avatar-img {
    position: relative;
    left: 1em;
    top: -2em;
    z-index: 1;
  }
  &__bio-container {
    display: flex;
    border: 1px solid black;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 1em;
    position: relative;
    bottom: 2.5em;
  }
  &__bio {
    margin-top: 1em;
  }
}
