/*layout menupage's images */
.iconlink svg {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .iconlink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    h3 {
      width: 50%;
    }
  }
}
