@import "../../theme-sncf.scss";

.home-page {
  height: 100%;
  width: 100%;
  padding-top: 2rem;

  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  &__image {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid $carbone;
    border-bottom: 1px solid $carbone;
    img {
      height: 50%;
    }
  }

  a {
    position: absolute;
    align-self: flex-end;
    top: 2.5rem;
    text-decoration: none;
    color: $carbone;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .home-page__image {
    img {
      height: 65%;
    }
  }
}

@media (min-width: 1440px) {
  .home-page {
    width: 80%;
    margin: auto;
    &__image {
      img {
        height: 85%;
      }
    }
    a {
      right: 5rem;
      transform: translate(-50%);
    }
  }
}
