@import "../../theme-sncf.scss";

.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $warm-gray--01;
  margin-top: 0.5em;

  &__connexion {
  }
  a {
    position: absolute;
    align-self: flex-end;
    top: 2.5em;
    right: 1em;
    text-decoration: none;
    color: $carbone;
    font-weight: bold;
  }
}
