@import "../../theme-sncf.scss";

.round-card-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 4rem;

  h2 {
    text-transform: uppercase;
    font-size: 20px;
    align-self: center;
  }

  &__items {
    background-color: $cool-gray--01;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem 1.5rem;
    padding: 1rem 0;
  }
}

@media (min-width: 768px) {
}
