$violet: #6e1e78;
$prune: #a1006b;
$framboise: #cd0037;
$orange: #e05206;
$jaune-safran: #ffb612;
$vert-anis: #d2e100;
$vert-pomme: #82be00;
$bleu-canard: #009aa6;
$bleu-primaire: #0088ce;
$bleu-signaletique: #00112b;
$rouge-assistance: #d52b1e;

// Gray

$cool-gray--01: #f2f2f2;
$cool-gray--03: #d7d7d7;
$cool-gray--05: #b9b9b9;
$cool-gray--07: #a0a0a0;
$cool-gray--09: #747678;
$cool-gray--11: #4d4f53;

$warm-gray--01: #e0ded8;
$warm-gray--03: #c3beb4;
$warm-gray--05: #afa59b;
$warm-gray--07: #988f86;
$warm-gray--09: #82786f;
$warm-gray--11: #675c53;

$carbone: #333333;
